.liste-container {
    display: flex;
    justify-content: space-between; /* Ajuste l'espace entre les listes */
    gap: 20px; /* Espacement entre les listes */
    flex-wrap: wrap; /* Permet le retour à la ligne si l'espace est insuffisant */
}

.liste {
    flex: 1; /* Permet aux listes de s'ajuster à l'espace disponible */
    max-width: 48%; /* Ajuste la largeur pour éviter qu'elles ne soient trop larges */
}

.centerImg{
    display: block;margin-left: auto; margin-right: auto
}