/* Style global */
body {
    background-color: #0F0D05; /* Fond sombre */
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    transition: margin-left 0.3s ease-in-out;
}

/* Menu latéral */
#menu {
    background-color: #252525; /* Gris foncé */
    width: 5%;
    height: 100vh;
    transition: width 0.3s ease;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

#menu.expanded {
    width: 15%;
}

#menu table {
    width: 100%;
    text-align: center;
}

#menu img {
    border-radius: 10px;
}

#menuToggle {
    cursor: pointer;
    color: #6BB1EE; /* Bleu clair */
    font-size: 24px;
    margin-top: 10px;
}

/* Options du menu */
.link {
    background-color: #4B6166; /* Gris foncé */
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
}

.link:hover {
    background-color: #9AB8EB; /* Bleu clair */
    transform: scale(1.05);
}

/* Contenu principal */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    width: calc(100% - 5%);
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

#menu.expanded ~ main {
    margin-left: 15%;
    width: calc(100% - 15%);
}

/* Scrollable */
.scrollable {
    width: 100%;
    height: 100vh;
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
}

/* Navbar */
.navbar {
    background-color: #6BB1EE;
    width: 100%;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.navbar button {
    background-color: #4B6166;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    border-radius: 8px;
    font-weight: bold;
}

.navbar button:hover {
    background-color: #9AB8EB;
    transform: scale(1.05);
}

/* Cartes de contenu */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #161616; /* Noir adouci */
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card h2 {
    color: #6BB1EE;
    margin-bottom: 15px;
}

.game-box {
    background-color: #4B6166;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #4B6166;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}
