:root {
    --dark-blue: #0C1C3D;
    --medium-blue: #5C6A99;
    --deep-blue: #4D587F;
    --light-teal: #6FC4B3;
    --bright-teal: #5CE1E6;
    --pale-green: #6FC4B3;
    --dark-green: #2F4F4F;
}

*{
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: end;
    background-image: url("../ressources/activity_image_example.jpg");
    height: 30vh;
    width: 100%;
    background-size: cover, contain;
    background-repeat: no-repeat;
}

/* CSS pour la barre de navigation globale verticale */
.side_bar_nav_gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10vw;
    background-color: var(--deep-blue);
    border-right: 4px solid var(--bright-teal);
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 5px;
    height: 100vh;
    width: 70px;
    overflow: hidden;
    transition: width 0.1s ease;
}
.side_bar_nav_gauche.elargir {
    width: 155px;
}

/* Style des listes non ordonnées de la barre de navigation */
.side_bar_nav_gauche ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.side_bar_nav_gauche ul li{
    display: flex;
    align-items: center;
    width: 100%;
}

/* Taille des images de la barre de navigation */
.side_bar_nav_gauche img{
    height: 50px;
    width: 50px;
    margin: 2px;
}
.side_bar_nav_gauche button{
    cursor: pointer;
    padding: 0;
    align-self: flex-end;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background-color: transparent;
}
/* Régler le temps ou la durée de l'animation de rotation pour le bouton expand */
#expand_icon{
    transition: transform 0.2s;
}
#expand_icon:hover{
    border: 5px solid var(--light-teal);
    border-radius: 50%;
}
/* Permet de pivoter (180 deg) l'image du bouton expand de la barre de navigation quand il est cliqué */
.pivoter_img{
    transform: rotate(180deg);
}
/* Cacher le texte de la barre de navigation par défaut */
.show_texte_navi_on_extend {
    display: none;
}

/* On rend les éléments textuels visibles avec la propriété (classlist) 'toggle' */
.show_texte_navi_on_extend.visible {
    display: block; 
}

#logo{
    cursor: pointer;
    height: 30%;
    align-self: right;
}

/* Spécifications globales pour le corps des pages HTML */
body{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 99%;
}

/* CSS pour le footer global */
footer{
    color: var(--bright-teal);
    background-color: var(--deep-blue);
    width: 30vw;
    border-top: 3px solid var(--bright-teal);
    border-left: 3px solid var(--bright-teal);
    border-right: 3px solid var(--bright-teal);
    border-radius: 8px 8px 0 0;
    align-self: center;
    text-align: center;
}
