
.header{
    display: flex;
    align-items: end;
    background-image: url("../ressources/activity_image_example.jpg");
    height: 215px;
    width: 100%;
    background-size:cover, contain;
    background-repeat: no-repeat;
    
}

#logo{
    cursor: pointer;
    height: 30%;
    align-self: right;
}

body{
    background-color: rgba(17, 12, 12, 0.918);
}

.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid yellow;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
#welcome_section_gauche{
    font-size: x-small;
    color: aquamarine;
    padding: none;
}

#welcome_section_gauche a{
    color: lawngreen;
}
#welcome_section_gauche ul li:first-child{
    font-size: medium;
    color: rgb(245, 111, 15);
}

#welcome_section_droite{
    /*justify-items: right;*/
    color:rgb(245, 111, 15);
}
#welcome_section_droite ul{
    justify-items: right;
}

#welcome_section_droite span{
    color:rgb(245, 202, 8);
}

#quick_teams, #legions{
    color: rgb(233, 174, 26);
    border: 2px solid rgb(245, 111, 15);
    border-radius: 3px;
    width:50%;
    margin: 10px;
}
#quick_teams_header, #quick_teams_body, #quick_teams_footer, .teams_dispo,
#legions_header, #legions_body, #legions_footer{
    display: flex;
    justify-content: space-between;
    color:orangered;
    padding-left: 5px;
    padding-right: 5px;
}
#quick_teams_header h4, #quick_teams_header h6, #legions_header h4, #legions_header h6{
    border:2px solid yellow;
    background-color: dimgrey;
    padding-left:3px;
    padding-right:3px;
}
#quick_teams_header h4, #legions_header h4{
    width: 90px;
    text-align: center;
}

#quick_teams_body, #legions_body{
    border-bottom: 2px solid yellow;
    color: orangered;
}

#quick_teams_body span, #legions_body span{
    color: yellow;
}

#quick_teams_footer, #legions_footer{
    height: 210px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    /*justify-content: center;*/
    overflow-y: auto;
}

.teams_dispo{
    border: 2px solid orangered;
    border-radius: 3px;
    background-color: dimgrey;
    padding: 3px;
    margin: 2px;
    height: 25px;
}
.teams_dispo p{
    font-size: x-small;
    color: aliceblue;
    padding-right: 10px;
    padding-left: 10px;
    margin: 2px;
    align-self: center;
}
.teams_dispo_img{
    height: 20px;
    width: 25px;
    border: 2px solid gold;
    border-radius: 3px;
}