
 *{
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: end;
    background-image: url("../ressources/activity_image_example.jpg");
    height: 30vh;
    width: 100vw;
    background-size:cover, contain;
    background-repeat: no-repeat;
    
}

#logo{
    cursor: pointer;
    height: 30%;
    align-self: right;
}

body{
    background-color: rgba(17, 12, 12, 0.918);
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#corps{
    /*margin-left: 20%;*/ /* Match the sidebar width */
    width: 90%;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}
.side_bar_nav_gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10vw; /* Adjust width as needed */
    background-color: #333;
    border-right: 4px solid orangered;
    border-radius: 0 15px 15px 0;
    color: #fff;
    padding: 20px;
    height: 100vh;
    /*position: fixed;*/
}
.side_bar_nav_gauche ul li img, .side_bar_nav_gauche img{
    height: 60px;
    width: 60px;
}

.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid yellow;
}
#welcome_section_droite ul, #welcome_section_gauche ul,  .side_bar_nav_gauche ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
#welcome_section_gauche{
    font-size: medium;
    color: aquamarine;
    padding-left: 10px;
}

#welcome_section_gauche a{
    color: lawngreen;
}
#welcome_section_gauche ul li:first-child{
    font-size: x-large;
    color: rgb(245, 111, 15);
}

#welcome_section_droite{
    /*justify-items: right;*/
    font-size: large;
    color:rgb(245, 111, 15);
}
#welcome_section_droite ul{
    justify-items: right;
}

#welcome_section_droite span{
    color:rgb(245, 202, 8);
}

#quick_teams, #legions{
    color: rgb(233, 174, 26);
    border: 2px solid rgb(245, 111, 15);
    border-radius: 3px;
    width:50%;
    margin: 10px;
}
#quick_teams_header, #quick_teams_body, #quick_teams_footer, .teams_dispo,
#legions_header, #legions_body, #legions_footer{
    display: flex;
    justify-content: space-between;
    color:orangered;
    padding-left: 5px;
    padding-right: 5px;
}
#quick_teams_header h4, #quick_teams_header h6, #legions_header h4, #legions_header h6{
    border:2px solid yellow;
    background-color: dimgrey;
    padding-left:3px;
    padding-right:3px;
}
#quick_teams_header h4, #legions_header h4{
    width: 100px;
    text-align: center;
}

#quick_teams_body, #legions_body{
    font-size:  x-large;
    border-bottom: 2px solid yellow;
    color: orangered;
}

#quick_teams_body span, #legions_body span{
    color: yellow;
}

#quick_teams_footer, #legions_footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    /*justify-content: center;*/
    overflow-y: auto;
    /*Rajouter les lignes pour cacher le scroll au besoin selon les navigateurs*/
    scrollbar-width: none; /* Firefox*/
    -ms-overflow-style: none; /* IE/Edge */
}

.teams_dispo{
    border: 2px solid orangered;
    border-radius: 3px;
    background-color: dimgrey;
    padding: 3px;
    margin: 2px;
    height: 50px;
}
.teams_dispo p{
    font-size: smaller;
    color: aliceblue;
    padding-right: 10px;
    padding-left: 10px;
    margin: 2px;
    align-self: center;
}
.teams_dispo_img{
    height: 40px;
    width: 40px;
    border: 3px solid gold;
    border-radius: 5px;
}

footer{
    color: orange;
    background-color: dimgray;
    width: 30vw;
    border-top: 3px solid orangered;
    border-left: 3px solid orangered;
    border-right: 3px solid orangered;
    border-radius: 8px 8px 0 0;
    align-self: center;
    text-align: center;
}