form, form fieldset{
    justify-items: center;
    padding:20px
}
form fieldset{
    justify-items: center;
    color: gold;
    background-color: dimgray;
    border:3px dashed yellow;
    border-radius: 5px;
}

#formulaire_nouveau_compte legend{
    font-size: larger;
    font-weight: bolder;
    border:3px dashed greenyellow;
    justify-self: center;
    text-align: center;
    border-radius: 20%;
    background: #070808;
}
#formulaire_nouveau_compte input[type="text"], #formulaire_nouveau_compte input[type="password"],
#formulaire_nouveau_compte input[type="email"], #formulaire_nouveau_compte input[type="file"], 
#formulaire_nouveau_compte input[type="date"], textarea{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: right;
    border-radius: 10%;
    color: brown;
    background-color: #d9e2df;
    width: 70vh;
    margin: 1px;
    padding: 4px;
}
#formulaire_nouveau_compte input[type="file"], #formulaire_nouveau_compte input[type="date"]{
    color:orangered;
}
#formulaire_nouveau_compte label{
    color:limegreen;
    justify-self: right;
}

.champs_formulaire_nouveau_compte{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    border: 4px solid orangered;
    border-radius: 8px;
    background-color:black;
    padding: 3px;
    margin: 0px;
    height: 40px;
}

.champs_formulaire_captcha_agreement_submit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vh;
    border: 4px solid orangered;
    border-radius: 8px;
    background-color:black;
    padding: 3px;
    margin: 0px;
    height: auto;
}
label#agree_label{
    color: red;
    align-self: center;
}

.champs_formulaire_captcha_agreement_submit article{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: auto;
}
input[value="M'inscrire"]{
    font-weight: bolder;
    color: white;
    background-color: red;
    align-self: center;
    border-radius: 10px;
    width: 120px;
    height: 30px;
}
