form, form fieldset{
    justify-items: center;
    color: orange;
}
form fieldset{
    justify-items: center;
    color: orange;
    background-color: dimgray;
    border:3px dotted yellow;
    border-radius: 5px;
}