body{
    background-color: rgb(16, 16, 16);
}

#menu {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    overflow-x: hidden;
    transition: 0.5s;
}

#menuToggle {
    color: white;
    position: absolute;
    top: 50%;
    right: 25px;
    font-size: 50px;
    
}

#options{
    color: white;
    position: absolute;
    text-align: center;
    left: 0px;
    width: 100%;
    font-size: 40px;
    transition: 0.5s;
}

.link{
    color: rgb(102, 102, 102);
    font-size: 30px;
}