
.image-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: flex-end;
    height: 100vh;
    gap: 0;
}

.description {
    position: fixed;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 2;
    padding: 5px;
    font: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.image-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 6px 3px;
    width: 20%;
    height: 150%;
    object-fit: cover;
    transition: 1.5s;
    position: relative
}

.image-gallery img {
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.image-wrapper:hover {
    width: 50%;
}

.hover-text {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 11%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 5px;
    font: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.image-wrapper:hover .hover-text {
    opacity: 1;
}

#main-menu-button {
    text-align: center;
    font: bold;
    z-index: 4;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 178px;
    height: 18px;
    bottom: 20%;
    background-color: white;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#main-menu-button:hover {
    color: #000;
    box-shadow: 1px 1px 2px blue, 0 0 1em red, 0 0 0.2em blue;
}